.strike {
  text-decoration: line-through;
}

.not-participate {
  background-image: url(/img/person-x.svg);
  filter: invert(68%) sepia(0%) saturate(151%) hue-rotate(202deg) brightness(86%) contrast(81%);
}