<fieldset>
  <legend>Preview a form</legend>
  <form method="GET" action="/form">
    <label for="form_type_id">Form type: </label>
    <select name="form_type_id" id="form_type_id" style="margin-bottom: 5px;">
      <option value="1">Pre</option>
      <option value="2">Post</option>
    </select><br>
    <input type="submit" value="Preview">
  </form>
</fieldset>
