<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - Studs Form System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="uk-container uk-container-small">
        <br>
        <h2 class="uk-text-center">Studs Form System</h2>

        <div class="uk-card uk-card-body uk-width-1-2@m uk-align-center">
            <% if (accessInfo.event) { %>
                <a href="/event">
                    <button class="uk-button uk-button-default uk-button-large uk-align-center uk-text-large uk-width-expand uk-padding-small">
                        Events
                    </button>
                </a>

                <a href="/event/substitutes">
                    <button class="uk-button uk-button-default uk-button-large uk-align-center uk-text-large uk-width-expand uk-padding-small">
                        Substitutes
                    </button>
                </a>
            <% } %>

            <% if (accessInfo.info) { %>
                <a href="/info">
                    <button class="uk-button uk-button-default uk-button-large uk-align-center uk-text-large uk-width-expand uk-padding-small">
                        Forms
                    </button>
                </a>
            <% } %>
        </div>
        
    </div>

    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
  </body>
</html>


