<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <div class="uk-container uk-container-small">
      <div id="main">
        <br>
        <h3 class="uk-text-center"><%= infoMsg %></h3>
      </div>
    </div>

    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
  </body>
</html>
